<h1>电子警察列表</h1>
<br/>

<form method="get" action="<%=electronic_polices_path=>" class="navbar-form ">
  <input name="keyword" type="text" placeholder="搜索电子警察" class="form-control">
  <button class="btn btn-danger" type="button" id="epssearch">查询</button>
</form>

<br/>

<ul>
<%@eps.each do |ep|%>
<li>
<%=ep.position%>
</li>
<%end%>
</ul>

<%=paginate @eps%>
